{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Access Forbidden</h1>
          <span class="subheading"
            >You do not have the permission to access this page</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

{% include "footer.html" %}
